h1{
    text-transform: uppercase;
    text-align: center;
    border: 3px double red;   
    font-size: 32px;
}
p{
    font-size: 16px;
}
.text-red{
    color: red;
}
.big{
    font-size: 32px;
}
.text-white{
    text-align: right;
    background-color: #ffa500;
    color: white;
    text-transform: capitalize;
}
.p-second{
    text-align: right;
}